body {
  background: radial-gradient(circle at top, #7f5af0, #00c471);
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
    background-color: #00c471;
    
    color: black;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.categoria-card {
    background: radial-gradient(circle at top, #7f5af0, #00c471);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    height: auto;
    display: inline-block;
    color:black;
}

.categoria-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  color: black;
}

.prenda-card {
    background: radial-gradient(circle at top, #7f5af0, #00c471);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 220px;
    height: 350px; /* altura fija para todas las tarjetas */
    text-align: center;
    vertical-align: top;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: black;
}

.prenda-card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: white; 
  color: black;
}

.prenda-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  color: black;
}

button {
  background-color: #7f5af0;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7f5af0;
}

footer {
    background-color: #7f5af0;
    color: black;
    text-align: center;
    padding: 1rem;
}

