/* Estilos generales */
body {
  background: linear-gradient(to bottom right, black, #1a1a1a, black);
  color: white; /* texto claro para contraste */
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
    background-color: #D4AF37;
    color: black;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.categoria-card {
    background: linear-gradient(to bottom right, black, #1a1a1a, black);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    height: auto;
    display: inline-block;
    color:#D4AF37;
}

.categoria-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  color: black;
}

.prenda-card {
    background: linear-gradient(to bottom right, black, #1a1a1a, black);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    width: 220px;
    height: 350px; /* altura fija para todas las tarjetas */
    text-align: center;
    vertical-align: top;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #D4AF37;
}

.prenda-card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: white; 
  color: black;
}

.prenda-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  color: black;
}

.button {
  background: #D4AF37;
  border: 2px solid black; /* marco con un poco más de opacidad */
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
    background: #b8860b; /* un dorado más oscuro */
    color: white;        /* opcional: cambia el texto para contraste */
}

footer {
    background-color: #D4AF37;
    color: black;
    text-align: center;
    padding: 1rem;
}

